body{
	margin:0px;
}
header{
position: absolute;
width: 100%;
height: 50px;
left: 0px;
top: 0px;
background: #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main{
	min-height: 500px;
}
footer{
	height: 105px;
	background: #000000;
	float: bottom;
	color: #FFFFFF;	
}
button:active,button:focus, button{ outline: none; cursor: pointer; }
button:active {
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.3);
    padding-top: 2px;
}
button{
	font-family: Marcellus;
	color: #5F5B5B;
	border-style: double;
	border-width: 3px;
	background-color: transparent;
}
button:hover{
	background-color:rgba(255,255,255,0.7);
}
p{
	margin: 10px 0px 3px 0px;
}
.font-Marcellius{
font-family: Marcellus;
font-size: 15px;
}
#sign_in_out{
float: right;
color: #000000;
margin: 10px 10px 10px 0px;
border: none;
background-color: #ffc700;
border-radius: 7px;
font-size: 25px;
}
#sign_in_out:hover{
	color: #FFFFFF;	
}
table{
	width: 100%;
	table-layout: fixed;
	text-align: left;
}
td{
	padding: 5px;
}
#filter{
position: absolute;
display: block;
width: 165px;
height: 200px;
border-radius: 0px 20px 20px 0px;
background-color: #C4C4C4;
padding-left: 5px;
padding-top: 20px;
}
input{
	border-radius: 10px;
	border:none;
	color: #848484;
}
label{
	margin-top: 5px;
	color: #5F5B5B;
	font-size: 20px;
	display: block;
}
label input{
	width: 100px;
}
#by-user{
	width:150px;
}
#to-date,#from-date{
	color: #848484;
}
#search{
	margin-top: 15px;
	margin-left: 40px;
	height: 30px;
	width: 70px;
	font-size:20px;
}
h1{
	text-align: center;
	font-family: Manuale;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #423C3C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-block-start: 20px;
    margin-block-end: 20px;
}
#filter_button, #order_taxi{
	font-size: 25px;
    border: none;
    height: 40px;
    text-align: center;
}
#order_taxi{
	float: right;
	display: none;
}
#posts{
	width: 80%;
	margin:0px 140px 0px 140px;
}
#post-list{
	overflow-y: auto;
}
#posts-list li{
    display: block;
    width: 100%;
    background-color: #DCD9D9;
    border-radius: 20px;
    padding: 5px 20px 3px 20px;
    margin-bottom: 20px;
}
.content{
	font-size: 20px;
	color: #5F5B5B;
	display: inline-block;
}
.User, .Time{
	color: #000000;
}
.Time{
	float: right;
}
#User-img{
	height: 40px;
	float: left;
}
.main-context{
	margin-top: 5px;
}
.buttons{
	display: inline-block;
}
#show-more{
	margin-left: 45%;
	margin-bottom: 20px;
	height: 35px;
	font-size: 25px;
}
#bg{
	width: 100%;
	margin-top: 50px;
}
#username{
	color:#ffc700;
	float:left;
	margin:10px 10px 10px 20px;
	font-size: 25px;
	display: none;
}
#edit_button{
	display: none;
}
#sign_in_form{
	position: relative;
	display: block;
	top: -60vh;
	margin-bottom: -36vh;
	left: 50vw;
	margin-left: -17vw;
	height: 36vh;
	width: 35vw;
	border: solid;
	background-color: rgba(255,255,255,0.5);
	border-radius: 20px;
	padding-top:4vh;
}
#sign_in_form>p, #order_form > p{
	font-family: Manuale;
	font-size: 28px;
	margin-left: 20%;
	margin-bottom: 5%;
	color: #5F5B5B;
}
#order_form > p{
	margin-left: 10%;
}
#sign_in_form> p > input, #order_form > p > input{
	font-size: 25px;
	background: none;
	border-style: none none solid none;
	border-width: 2px;
	color: #5F5B5B;
}
#sign_in_form > button, #order_form>div>button{
	font-size: 28px;
	border-style: none none solid none;
	border-width: 2px;
	opacity: 70%;
	margin-left: 40%;
}
#load_content{
	height: 0px;
	margin-bottom: -5px;
}
#order_form{
	position: relative;
	display: block;
	left: 10vw;
	width: 30vw;
	height: 60vh;
	top: -80vh;
	background-color: rgba(255,255,255,0.5);
	border-radius: 20px;
	padding-top:4vh;
}
#order_form>div{
	display: flex;
}
#order_form>div>button{
	margin-left: 20%;
}
#hiden_id_num{
	display: none;
}